# Node
node_modules/
angular_fichajesPi/dist/
.angular/

# Java / Maven
**/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IDEs / Editors
.idea/
.vscode/
*.iml

# Logs
logs/
*.log

# OS
.DS_Store

# Docker
**/.env
**/data/

