<div class="container-fluid mt-3">

  @if (isLoading()) {
    <div class="text-center p-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  } @else {
    @if (model(); as empleado) {
      <h3 class="mb-4 text-center selected w-100">Consultar: {{ empleado.nombreEmpleado }}</h3>

      <div class="row mb-4 mx-5">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
          <a class="nav-link w-100 text-center" [routerLink]="['/intranet/fichajes/list/empleado', empleado.numero]">
            <i class="bi bi-watch feather"></i>
            Fichajes
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
          <a class="nav-link w-100 text-center" [routerLink]="['/intranet/incidencias/list/empleado', empleado.numero]">
            <i class="bi bi-exclamation-diamond feather"></i>
            Incidencias
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
          <a class="nav-link w-100 text-center" [routerLink]="['/intranet/permisos/list/empleado', empleado.numero]">
            <i class="bi bi-file-earmark-text feather"></i>
            Permisos
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
          <a class="nav-link w-100 text-center" [routerLink]="['/intranet/vacaciones/list/empleado', empleado.numero]">
            <i class="bi bi-cup-straw feather"></i>
            Vacaciones
          </a>
        </div>
      </div>

      <h3 class="mb-4 text-center selected bg-waves rounded p-3 ">Editar Empleado</h3>

      <form [formGroup]="editForm" (ngSubmit)="onUpdate()" novalidate class="mt-4 mb-4 mx-5">

        <div class="row mb-4">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
            <div class="form-group small w-100">
              <label for="nombre"><b>Nombre:</b></label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" formControlName="nombreEmpleado" id="nombre">
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
            <div class="form-group small w-100">
              <label for="numero"><b>Número:</b></label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" formControlName="numero" id="numero">
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
            <div class="form-group small w-100">
              <label for="email"><b>Email:</b></label>
              <div class="input-group input-group-sm">
                <input type="email" class="form-control" formControlName="email" id="email">
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
            <div class="form-group small w-100">
              <label for="dni"><b>DNI:</b></label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" formControlName="dni" id="dni">
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
            <div class="form-group small w-100">
              <label for="dias"><b>Días de vacaciones:</b></label>
              <div class="input-group input-group-sm">
                <input type="number" class="form-control" formControlName="diasVacaciones" id="dias">
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
            <div class="form-group small w-100">
              <label for="horas"><b>Horas generadas:</b></label>
              <div class="input-group input-group-sm">
                <input type="number" class="form-control" formControlName="horasGeneradas" id="horas">
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
            <div class="form-group small w-100">
              <label for="en-vacaciones"><b>De Vacaciones:</b></label>
              <select class="form-control form-control-sm" formControlName="enVacaciones" id="en-vacaciones">
                <option [value]="true">Si</option>
                <option [value]="false">No</option>
              </select>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
            <div class="form-group small w-100">
              <label for="de-baja"><b>De Baja:</b></label>
              <select class="form-control form-control-sm" formControlName="deBaja" id="de-baja">
                <option [value]="true">Si</option>
                <option [value]="false">No</option>
              </select>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 d-flex align-items-end justify-content-end mb-3">
            <div class="form-group small w-100">
              <label for="working"><b>Trabajando:</b></label>
              <select class="form-control form-control-sm" formControlName="working" id="working">
                <option [value]="true">Si</option>
                <option [value]="false">No</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row d-flex flex-row justify-content-end">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
            <app-boton-guardar class="w-100" [valid]="editForm.valid"></app-boton-guardar>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex align-items-end justify-content-end mb-3">
            <app-boton-volver class="w-100" routerLink="/intranet/empleados"></app-boton-volver>
          </div>
        </div>
      </form>

      <div class="w-100 text-center mt-5 mb-5">
        <button class="mx-auto btn btn-outline-danger btn-sm " (click)="onDelete()">
          <i class="bi bi-trash"></i> Eliminar empleado
        </button>
      </div>
    } @else {
      <div class="alert alert-warning text-center m-5">
        No se ha encontrado la información del empleado.
      </div>
    }
  }
</div>
