# Variables de entorno para PRODUCCIÓN

# Proxy / Puertos
APP_PORT=80
APP_SSL_PORT=443
DB_PORT=3306
PHPMYADMIN_PORT=81

# SSL (opcional — Let's Encrypt automático con Caddy)
ENABLE_SSL=false
DOMAIN=example.com
LETSENCRYPT_EMAIL=admin@example.com

# Base de datos
MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=db_fichajespi
MYSQL_USER=fichajes
MYSQL_PASSWORD=change_me_password
TZ=Europe/Madrid

# Backend / Frontend
IP=example.com
# Si ENABLE_SSL=false, usa http://
# Si ENABLE_SSL=true, usa https://
CLIENT_URL=http://example.com

# Mail SMTP
SPRING_MAIL_HOST=smtp.example.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=user@example.com
SPRING_MAIL_PASSWORD=change_me_password
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true

# JWT
JWT_SECRET=change_me_prod_secret

# Default Empresa settings
DEFAULT_EMPRESA_NOMBRE=Mi Empresa
DEFAULT_EMPRESA_RAZON_SOCIAL=Mi Empresa S.L.
DEFAULT_EMPRESA_CIF=B12345674
DEFAULT_EMPRESA_EMAIL=info@miempresa.com
DEFAULT_EMPRESA_TELEFONO=912345678
DEFAULT_EMPRESA_DIRECCION=Calle Mayor 1
DEFAULT_EMPRESA_CODIGO_POSTAL=28001
DEFAULT_EMPRESA_LOCALIDAD=Madrid
DEFAULT_EMPRESA_PROVINCIA=Madrid
DEFAULT_EMPRESA_PAIS=España
DEFAULT_EMPRESA_LATITUD=40.416775
DEFAULT_EMPRESA_LONGITUD=-3.703790


# Imágenes (opcional si usas GHCR)
FRONTEND_IMAGE=ghcr.io/jamataran/fichaje-frontend:latest
BACKEND_IMAGE=ghcr.io/jamataran/fichaje-backend:latest
